.aamir1-a {height: 150px;background-color:  #3399ff;border-width: 0px;display: inline-block;float: left;}
.aamir1-b {height: 150px;background-color: #66ff99;border-width: 0px;display: inline-block;float: left;}
.aamir1-c {height: 150px;background-color: #ff3333;border-width: 0px;display: inline-block;float: left;}
.aamir1-d {height: 150px;background-color:  #3399ff;border-width: 0px;display: inline-block;float: left;}
.aamir2-a {height: 300px;background-color: #ff3333;border-width: 0px;display: inline-block;float: left;}
.aamir3-a {height: 150px;background-color:  #3399ff;border-width: 0px;display: inline-block;float: left;}
.aamir3-b {height: 150px;background-color: #66ff99;border-width: 0px;display: inline-block;float: left;}
.padding-0{padding-right: 0;padding-left: 0;}
